.popupAddHotspot_btn_hotspot{
  background-color: #ffffff;
  border: none;
  border-radius:100%;
  color: #1070ee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}