@media screen  and (max-height: 425px) {
  .container-lista-hotspots{
    max-height: 200px;
    overflow-y: auto;
  }
}

.container-lista-hotspots{

  .item-hotspots{
    background-color: $buttons-backgroud-transparent;
    padding: 1em ;
    border-radius: 5px;

    .button-delete-hotspot{

      font-weight: lighter;
      color: #f61616;
    }
    .nombre-hotspot{
      margin-left: 1em;
      display:inline;
      font-size: 1.4em;
    }
    img{
      margin-left: 1em;
      height: 2.7em;
    }
    @media screen  and (max-width: 700px) {
      img{
        margin-left: 0.2em;
        height: 2em;
      }
      .nombre-hotspot{
        margin-left: 0.2em;
        display:inline;
        font-size: 1.2em;
      }
    }
  }

}