.reel_container {
  max-height: 85%;
  .react-simple-image-viewer__modal-content{
    animation-timing-function:ease-in-out !important;
    animation-duration: 300ms !important;
    //transition-duration: 300ms;
    //transition-timing-function: ease-in-out;
  }
  .show {
    opacity: 1;
  }

  .viewer-animation{
    opacity: 1;
  }
  .styles-module_image__2hdkJ{
    opacity: 1;
    transition: opacity 0.6s linear;
    /*
    animation-timing-function:ease-in-out !important; ;
    animation-duration: 300ms !important;
    transition-duration: 300ms !important;
    transition-timing-function: ease-in-out !important;*/
  }
  .styles-module_wrapper__1I_qj{
    z-index: 1000;
  }
  .my-reel{

    height: 100%;

    .scroll-container{
      display: flex;
      flex-direction: row;
      height: 100%;
      position: relative;
      .reel_div-img-container{
        height: 100%;
        position: relative;
        .reel_div-img{
          height: 100%;
          img{
            border-radius: 0.7em;
            margin-left: 0.4em;
            height: 100%;
            cursor:pointer;
          }

        }
        .btn-eliminar-extra{
          top:8px;
          left: 10px;
          position: absolute;
          border: none;
          border-radius: 0.2em;
          color: red;
          width: 2em;
          height: 2em;
        }
      }

      .div-subirExtra{
        margin-left: 0.4em;
        background-color: rgb(0, 135, 209);
        display: inline-block;
        width: 10em !important;
        height: 100%;
        border-radius: 0.7em;
        .upload__image-wrapper{
          width: 100%;
          height: 100%;
          margin: 0;
          .btn-addExtra{

            width: 150px;
            height: 100%;
            background-color: transparent;
            border: 0;
          }
        }
      }



    }

  }

}

*{
  outline: none;
}








