.reel_container{
  max-height: 70%;

  .slick-slider {
    height: 100%;
    .slick-list{
      height: 100%;
      .slick-track{
        margin:auto;
        height: 100%;
        .slick-slide.slick-active.slick-center.slick-current{
          height: 100%;
          & > div{
            height: 100%;
          }
        }
      }
    }
  }
  .reel_image-extra-container{
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;


    .reel_div-img{

      height: 100%;
      max-height: 100%;
    }

    .reel_borde-redondo{
      border-radius: 0.6em;
    }
    img {
      margin: auto;
      height: 100%;

    }
  }
}