.reel_container {
  max-height: 70%;

  .slick-slide {
    img{
      max-width: 100%;
      object-fit: contain;
      max-height: 100%;
    }


  }
}

*{
  outline: none;
}








   /*
   .slick-arrow .slick-prev{
     z-index: 1000;

   }
   .slick-next {
     right: 25px;
   }*/
.slick-prev{
  left: 0 !important;
  z-index: 1;
}
.slick-next {
  right: 0 !important;
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

.reel_container {
  max-height: 70%;


  .styles-module_wrapper__1I_qj {
    z-index: 10000 !important;
  }

  .slick-slider {
    height: 100%;

    .slick-list {
      height: 100%;

      .slick-track {
        margin: auto;
        height: 100%;

        .slick-slide{
          & > div{
            height: 100%;
          }
        }

        .slick-slide.slick-active.slick-center.slick-current{
          height: 100%;
          & > div{
            height: 100%;
          }
        }
      }
    }
  }


}

  .reel_image-extra-container{
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;


    .reel_div-img{
      height: 100% !important;
      max-height: 100% !important;
    }

    .reel_borde-redondo{
      border-radius: 0.6em;
    }
    img {
      margin: auto;
      height: 100%;

    }
  }
