.tridi-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .imagesContainer{
    height: 100%;
    width: 100%;
    & > div{
      height: 100%;
      width: 100%;
    }
  }
}


.toogle-edit-mode{
  position: absolute;
  top: 1.5em;
  right: 1em;
  z-index: 100;
}
.button-hotspot {
  height: 30px;
  width: 30px;
  color: white;
  //font-size: 2vh;
  background-color: #1070ee;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 4px 10px;
  border-radius: 100%;
  cursor: pointer;
  animation: fadein .5s;
  animation: pulse 1.1s infinite;
}
.logo-company{
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 100;
  height: 3em;
  width: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  img{
    //width: 100%;
    //height: 100%;

  }

  label{
    font-family: 'Universal Knowledge', sans-serif !important;
    color: $secondary-color;
    font-size: 1.2em;
  }

}
.icon-bold{
  font-size:20px;
}
.status-info{
  //color: transparent;
}
.shadow-buttons{
  box-shadow: 8px 12px 12px -4px rgba(18,17,17,0.75);
  -webkit-box-shadow: 8px 12px 12px -4px rgba(18,17,17,0.75);
  -moz-box-shadow: 8px 12px 12px -4px rgba(18,17,17,0.75);
}
.Toastify__toast-theme--dark {
  background-color: $border-dark !important;
  border-radius: 0.5em !important;
}
.visualizador_btn-share-img {
  height: 2.5em;
  margin: 0 0.6em;
}
.visualizador_btn-add-hotspot{
  margin-top: 0.4em;
  margin-left: 0.5em;
  height: 2.5em;
}
.btn-info-margin{
  margin-top: 7.5px;
  height: 2.5em;
}

.cursor-pointer{
  cursor: pointer;
}
/*
.visualizador_btn-share{
  background-color: $secondary-color;
  border: none;
  border-radius:100%;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}*/

/*
.visualizador_btn-info{
  background-color: $primary-color;
  border: none;
  border-radius:100%;
  color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;

}*/

.pdf-modal-overlay{
  .pdf-modal-content{
    background: $border-dark !important;
    border: transparent;
    height: 20vh;
    .container-iframe-modal{
      width: 100%;
      height: 20vh;
      text-align: center;
      .button-option-pdf-modal{
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        margin-top: -20px;
        position: absolute;
        padding: 5px;
        font-size: 0.8em;
        color: $secondary-color;
      }
    }

  }
}

.visualizador{
  overflow: hidden;
  position: relative;
    height: 100vh;
  width: 100vw;
    background-color: #111111;
  .counter{
    background-color: transparent;
    font-size: 8em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    z-index: 10;
  }

  .pulseEffect{
    z-index: 100;
    
    border-radius: 100%;
    border: red 5px solid;
  }
  /*
  .modal-pdf-container {
    .popup-content{
      margin: auto;

      width: 50%;
      padding: 5px;
    }
  }*/

  .imagesContainer{
    .addHotspotCursor{
      cursor:url(http://www.rw-designer.com/cursor-extern.php?id=24819)22 14.5, pointer !important;
    }
    ._2kfM8{
      cursor: url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.svg
      ) 22 14.5,url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.png ) 22 14.5,url(	https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.cur) 22 14.5,grab;
    }
  }
  .visualizador_top-buttons{
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    button {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
  .visualizador_navigation-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
  }
  .visualizador_container-handle-buttons{
    z-index: 100;
    top: 5.5em;
    position: absolute;/*
    bottom: 3.6em;
    right: 1.3em;*/
  }

  .popup-content{
    border: 0 solid transparent !important;
  }

}

.hidden{
  display: none;
}
.no-hidden{
  display: inline;
}
.oculto{
  display: none;
}

.no-oculto{
  display: block;
}
.center-animation{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.visualizador_reel{
  background-color: rgba(6, 72, 100, 0.44);
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .visualizador_close-reel-button{
    cursor: pointer;
    top:-3em;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    height: 5em;
    z-index: 1000;
    border-radius: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $secondary-color;
    position: absolute;
    overflow: hidden;
    .visualizador_close_container_icon{
      position: relative;
      height: 100%;
      .visualizador_close-reel-icon{
        color: $reel-icon-color;
        font-size: 2em;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 2%;
        //bottom:10px
      }
    }
  }


}

.visualizador_open-reel-button{
  cursor: pointer;
  bottom:-3em;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  z-index: 1000;
  border-radius: 100%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #f2f2f2;
  position: absolute;
  overflow: hidden;
  .visualizador_open_container_icon{
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $reel-icon-color
  }
}