.boton-cerrar-viewer{
  position: absolute;
  top: 20px;
  right: 10px;
  width: 50px!important;
  height: 50px !important;
  color: white !important ;
  z-index: 1000;cursor: pointer;
}

.ktMAEn {
  z-index: 9999 !important;
}
  // UI settings
@import "./base/settings";

//Components
@Import './components/_reel.scss';
@import "./components/visualizador";
@import "./components/popupAddHotspot";
@import "./components/optionButttons";
@import "./components/buttonEscena";
@import "./components/popupCompartir";
@import "./components/popupInfo";
@import "./components/popupListaHotspot";
@import "./components/popupAyuda";
@import "./components/popupTerminos";
//Screens

* { box-sizing: border-box; }

