@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

.header2 {
    padding: 30px;
    text-align: left;
    background: #212529;
    color: #212529;
    font-size: 30px;
}
.img2{
    width:200px;
    height: 100px;
}

/*
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    alignment-baseline: center;
    align-items: center;
}*/

.text-center2{
    margin: 30px;
    font-size: 50px;
    align-content: center;
    alignment-baseline: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}