/*.reel-images-container{

max-height: 100%;
}*/

/*
.extra-vacio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.slick-arrow .slick-prev{
    z-index: 1;
    
}
.slick-next {
    right: 25px;
}
.slick-prev{
    left: 25px;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}*/

/*
.auxx{
    height: 100%;
    width: 100%;
}*/

/*
.auxx > img{
    object-fit: contain;
    
box-sizing: border-box;
max-width: 100%;
max-height: 100%;

}*/

/*
.slick-list .slick-slider .slick-initialized{
    height: 100%;
    width: 100vh;
    max-height: 100%;
    max-width: 100vh;
}*/

.upload__image-wrapper{
    margin: 10px;
}

/*
.sc-ifAKCX .bqyzQp{
    margin-bottom: 20px;
}*/
/*
.sc-ifAKCX .bqyzQp{
height: 100%;
}*/
/*

.slick-track > .slick-slide:first-child {
    opacity: 1 !important;
}



.reel-image-extra-container{
    position: relative;
}
*/
/*
.imgReel{
    object-fit: contain;
    height: 100%;
box-sizing: border-box;
max-width: 100%;
max-height: 149px;
width: 100%;
}*/

/*

.sc-dnqmqq .bVoXXg{
    object-fit: contain;
    height: 100%;
}*/
/*
@media screen and (max-width: 767px){
.jVJmF {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 10px;

}
}
*/
/*

.reel-images-container button{
    
    border: none;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    cursor: pointer;
    border-radius: 10%;
    padding: 5px 15px;
    display: inline-block;
}


.reel-images-container button:hover{
    background-color: rgba(31, 80, 153, 0.541);
    
}*/

.btn-eliminar-extra{
    position: absolute;
    right: 0;
    top: 0;
}

