

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modalp {
    font-size: 12px;
    background-color: #111111;
    border: none;
    color: white;
  }
  .modalp > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border: none;
  }
  .modalp > .content-popup{
    width: 100%;
    padding: 10px 5px;
    border: none;
  }
  .modalp > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modalp > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .actions > button{
      margin-left: 1em;
  }
  
  .popup-content{
    max-height: 90%;
    background-color: #111111;
    border: none;
    width: 90%;
  }

  .content-popup{
    display: flex;
    flex-direction: column;
  }
  .buttons-type-hotspots{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .container-lista-extras{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 0;
  }

  .container-input-hotspot{
    flex-basis: 50%;
    flex-grow: 0;
    margin-left: 0.5em;
  }

  .lista-extras{
    max-height: 300px;
   
    margin-right: 0.5em;
    overflow-y:auto;
    display: grid;
  grid-template-columns: repeat(3, 1fr)
  }

  .image-modal-selected{
    border: 2px solid blue;
  }

  .imagen-modal-container{
    margin: 0.3em;
  }
  .imagen-modal{
    object-fit: contain;
    width: 100%;
  }

  .imagen-modal:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }


  figure {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: #0c0c0c91;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  figure > img {
    vertical-align: top;
    max-width: 100%;
  }
  
  figure figcaption {
    background-color: #0c0c0c91;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  figure,
  figure:before,
  figure:after,
  figure *,
  figure *:before,
  figure *:after {
    box-sizing: border-box;
    transition: all 0.35s ease;
  }
  
  /** slide **/
  figure:hover figcaption {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  /** slide-left **/
  figure figcaption {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
