*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
.reel{
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  height: 25%;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}*/

/*
.oculto{
  display: none;
}

.no-oculto{
  display: block;
}*/

/*
.modal-pdf-container > .popup-content{
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}*/
/*
.modal-pdf-container{
  width: 50%;
  height: 50%;
}*/

/*
.popup-content > iframe {
  width: 100%;
  height: 80vh;
}*/

.toast-message {
   background: darkblue;
   color: #fff;
   font-size: 20px;
   width: 34vw;
   padding: 30px 20px;
 }
/*
.center-animation{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

.container-iframe-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista-hotspost{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 900;
}

.await-hotspot{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 900;
  color: white;
}


.start-end-hotspot-buttons{
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 110px;
}

/*
.reel-container{
  position: fixed;
  width: 100vw;
  height: 30%;
  bottom: 0;
  z-index: 999;
}
*/
/*
.button-option{
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 13px;
}

.button-option:hover{
  background: rgba(30, 52, 142, 0.5);
  color: rgb(255, 255, 255); 
  transition: all 0.5s ease-in;
}*/
/*
.reel-btn{
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 100;
  
  margin-left: 2px;
}*/

.no-visible{
  display: none;
}

.visualizador{
  height: 100vh;
  background-color: #111111;
  /*background-color: white;*/
}
._2VqNg{
  /**/
  
	object-fit: contain;
  width: 100%;
    height: 100%;
    /* max-width: 100vh; */
    max-height: 100vh;
}
/*
.top-buttons{
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}*/
/*
.add-buttons{
  z-index: 100;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3.5em;
}*/

/*
.add-buttons > button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}*/

.tridi-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px){


.jVJmF {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 10px;
}
}

.jVJmF {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

._2kfM8{
  cursor: url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.svg
  ) 22 14.5,url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.png ) 22 14.5,url(	https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.cur) 22 14.5,grab;

}

.button-hotspot { 
  color: white;  
  font-size: 2vh; 
  background-color: #1070ee; 
  display: block; 
  padding: 4px 10px; 
  border-radius: 100%; 
  cursor: pointer; 
  animation: fadein .5s; 
  animation: pulse 1.1s infinite; }

.dragging{
  cursor: url("https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin-drag.png") 16.5 10.5,url("https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin-drag.png") 16.5 10.5,url(	https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin-drag.cur)
}

/*
.navigation-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  position: fixed;
  top: 50%;
    transform: translate(-50%, -50%);
  left: 40px;
}*/
/*
.navigation-item{
  display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;    
}*/


/*
.options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  right: -30px;
  }
  
  .option-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .option-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .option-item:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .option-item:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .semi-transparent-button{
    cursor: pointer;
      border:none;
      margin: 1px 0.5em ;
      padding: 1em;
      color: white;
      border-radius: 0.5em;
      background-color: rgba(0, 0, 0, 0.781);
    font-size: 13px;
  }*/

  .sphere-button{
    position: absolute;
    left: 80px;
    top: 60px;
    z-index: 100;
  }

/*
  .semi-transparent-button:hover
  {
    background: rgba(30, 52, 142, 0.5);
    color: rgb(255, 255, 255); 
    transition: all 0.5s ease-in; }

    .activo{
      background: rgba(30, 52, 142, 0.5) ;
    }
*/
    button:disabled,
button[disabled], button:disabled:hover{
  
  background-color: #cccccc;
  color: #666666;
}

.no-extras{
  
  margin:auto;
  text-align: center;
  justify-content: center;
  vertical-align:middle;
  color: white;
}

.emptyEscena{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.texto-blanco{
  color: white;
}

