.reel{
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  height: 15%;
  bottom: 0;
  width: 100%;
  
}

.reel-container{
  position: fixed;
  height: 20%;
  bottom: 0;
}

.reel-btn{
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin-left: 2px;
}
.reel-btn:hover{
  background: rgba(30, 52, 142, 0.5);
    color: rgb(255, 255, 255); 
    transition: all 0.5s ease-in;
}

.no-visible{
  display: none;
}



.visualizador{
  height: 100vh;
  
}
._2VqNg{
  width: auto;
	margin: auto;
	height: 100vh;
  
}
._lqEjs{
  
} 
._2kfM8{
  cursor: url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.svg
  ) 22 14.5,url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.png ) 22 14.5,url(	https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin.cur) 22 14.5,grab;

}

.dragging{
  cursor: url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin-drag.png) 16.5 10.5,url(https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin-drag.png) 16.5 10.5,url(	https://cdn.spincar.com/spincar-static/20190909/ui/spin_pano_cursors/cursor-spin-drag.cur) 
}

.navigation-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  position: fixed;
  top: 50%;
    transform: translate(-50%, -50%);
  left: 40px;
}
.navigation-item{
  display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;    
}



.options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  right: -30px;
  }
  
  .option-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .option-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .option-item:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .option-item:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .semi-transparent-button{
      border:none;
      margin: 1px 0.5em ;
      padding: 1em;
      color: white;
      border-radius: 0.5em;
      background-color: rgba(0, 0, 0, 0.781);
  }


  .semi-transparent-button:hover
  { /*background: #fff; */
    background: rgba(30, 52, 142, 0.5);
    color: rgb(255, 255, 255); 
    transition: all 0.5s ease-in; }
.no-extras{
  margin:auto;
  text-align: center;
  justify-content: center;
  vertical-align:middle;
  color: white;
}

