$secondary-color:rgb(244, 244, 244);
$primary-color:rgb(0, 135, 209);
$buttons-backgroud: rgb(4, 22, 30,);
$buttons-backgroud-transparent:rgba($buttons-backgroud,0.89);
$buttons-backgroud-hover: rgb(5, 64, 91);
$buttons-navigation: rgb(227, 226, 225);
$buttons-dark: rgba(19, 19, 19, 0.91);
$modal-color:rgba(6, 72, 100, 0.44);
$base-color: rgba(7, 43, 60, 0.84);
$border-dark: rgba($base-color, 0.88);
$reel-icon-color:rgb(0, 255, 255);
$copiar-enlace:rgb(21, 174, 215);
$modal-info: rgba(24, 29, 36, 0.8);
$small: 570px;
$medium: 900px;
@import url('http://fonts.cdnfonts.com/css/universal-knowledge-2');
